<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body class="white-bg">

 <nav class="navbar navbar-expand-sm bg-white navbar-red  justify-content-center" >
  <!-- Brand -->
  <a class="navbar-brand" href="/"><img src="../static/de.png " width="100px" alt=""></a>

  <!-- Links -->
  <ul class="navbar-nav" id="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/DISCOVER">DISCOVER</a>
    </li>
      </li>

      <li class="nav-item">
      <a class="nav-link" href="/SHOP">SHOP</a>
    </li>

      <li class="nav-item">
      <a class="nav-link" href="#">ABOUT</a>
    </li>

  </ul>

  </ul>

     <nav class="nav justify-content-end">
    <ul class="nav justify-content-end">
    <li class="nav-item1">
        <a class="nav-link" href="/login">LOG IN</a>
    </li>
    <li>
        <a class="nav-link" href="/signup">SIGN UP</a>
    </li>
   </ul>

 </nav>
</nav>






<div class="hero-image-dehome">
    <div class="hero-text-dehome">
        <h4 class="">DELAB IS AN ONLINE PLATFORM WHERE CREATIVES CONNECT AND SHARE THEIR WORKS</h4>
    </div>
<div class="parallax-dehome"></div>
</div>

<div>
<div class="parallax-dehome"></div>
    <h1 class="text-center">WHAT WE OFFER AS DELAB</h1><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores consequatur corporis doloribus earum excepturi,
        fuga ipsam itaque,
        iusto laboriosam maiores nam quaerat quidem, repudiandae velit voluptas voluptatum. Quae, sapiente.


    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate enim facere impedit ipsa nam natus perspiciatis quaerat quod voluptatibus.
        Commodi deserunt dolorem esse excepturi, natus necessitatibus possimus ratione similique.</p>
</div>

<div class="row">
    <div class="home-border">
        <div class="column">
        <img class=" float-left" src="../static/homeport.jpg" alt="" style="width: 45%">
        </div>
        <div class="column"><br>
            <h2>CREATE YOUR PORTFOLIO</h2><br><br>
            <p>Hire our talented designers to brand your buisness,company etc...........................
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur, beatae dolore enim e
                x explicabo incidunt itaque labore nihil numquam
                obcaecati pariatur perferendis quam quibusdam sequi temporibus, unde velit, vitae.</p>
        </div>
    </div>

</div>






<div class="row">
    <div class="home-border">
        <div class="column">
        <img class=" float-right" src="../static/homeco1.jpg" alt="" style="width: 45%">
        </div>
        <div class="column"><br>
            <h2>INCREASE YOUR MARKET POTENTIAL</h2><br><br>
            <p>Hire our talented designers to brand your buisness,company etc...........................
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur, beatae dolore enim e
                x explicabo incidunt itaque labore nihil numquam
                obcaecati pariatur perferendis quam quibusdam sequi temporibus, unde velit, vitae.</p>
        </div>
    </div>

</div>




<div class="row">
    <div class="home-border">
        <div class="column">
        <img class=" float-left" src="../static/para2.jpg" alt="" style="width: 45%">
        </div>
        <div class="column"><br>
            <h2>BLOG YOUR EXPERIENCES</h2><br><br>
            <p>Hire our talented designers to brand your buisness,company etc...........................
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur, beatae dolore enim e
                x explicabo incidunt itaque labore nihil numquam
                obcaecati pariatur perferendis quam quibusdam sequi temporibus, unde velit, vitae.</p>
        </div>
    </div>

</div>

<div class="row">
    <div class="home-border">
        <div class="column">
        <img class=" float-right" src="../static/homestore.jpg" alt="" style="width: 45%">
        </div>
        <div class="column"><br>
            <h2>SELL YOUR WORKS</h2><br><br>
            <p>Hire our talented designers to brand your buisness,company etc...........................
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur, beatae dolore enim e
                x explicabo incidunt itaque labore nihil numquam
                obcaecati pariatur perferendis quam quibusdam sequi temporibus, unde velit, vitae.</p>
        </div>
    </div>

</div>

<div class="row">
    <div class="home-border">
        <div class="column">
        <img class=" float-left" src="../static/iStock-610259354.jpg" alt="" style="width: 45%">
        </div>
        <div class="column"><br>
            <h2>CONNECT WITH OTHER ARTISTS</h2><br>
            <p>Hire our talented designers to brand your buisness,company etc...........................
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur, beatae dolore enim e
                .</p>
        </div>
    </div>

</div>







</body>
</html>