<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

 <nav class="navbar navbar-expand-sm bg-white navbar-red  justify-content-center" >
  <!-- Brand -->
  <a class="navbar-brand" href="/"><img src="../static/de.png " width="100px" alt=""></a>

  <!-- Links -->
  <ul class="navbar-nav" id="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/DISCOVER">DISCOVER</a>
    </li>
      </li>

      <li class="nav-item">
      <a class="nav-link" href="/SHOP">SHOP</a>
    </li>

      <li class="nav-item">
      <a class="nav-link" href="#">ABOUT</a>
    </li>

  </ul>

  </ul>

     <nav class="nav justify-content-end">
    <ul class="nav justify-content-end">
    <li class="nav-item1">
        <a class="nav-link" href="/login">LOG IN</a>
    </li>
    <li>
        <a class="nav-link" href="/signup">SIGN UP</a>
    </li>
   </ul>

 </nav>
</nav>


<div class="hero-image-home">
    <div class="hero-text-home">
        <h1>WELCOME TO THE DESIGNERS LAB</h1>
        <p>Where we create</p>
        <div class="row">
            <div class="column">
                <a href="/login"><button id="home-btn" >DESIGNER</button></a>
            </div>
            <div class="column">
        <button id="home-btn">CLIENT</button>
            </div>
        </div>
    </div>

</div>

</body>
</html>