<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROFILE</title>
    <link rel="stylesheet" href="../static/style.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body class="bg-image">
 <nav class="navbar navbar-expand-sm bg-white navbar-red  justify-content-center" >
  <!-- Brand -->
  <a class="navbar-brand" href="/"><img src="../static/de.png " width="100px" alt=""></a>

  <!-- Links -->
  <ul class="navbar-nav" id="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/DISCOVER">DISCOVER</a>
    </li>
      </li>

      <li class="nav-item">
      <a class="nav-link" href="/SHOP">SHOP</a>
    </li>

      <li class="nav-item">
      <a class="nav-link" href="#">ABOUT</a>
    </li>

  </ul>

  </ul>

     <nav class="nav justify-content-end">
    <ul class="nav justify-content-end">
    <li class="nav-item1">
        <a class="nav-link" href="/login">LOG IN</a>
    </li>
    <li>
        <a class="nav-link" href="/signup">SIGN UP</a>
    </li>
   </ul>

 </nav>
</nav>
 <div class="bg-image"></div>

<div id="profile">
   <div>
  <img class="rounded-circle center" src="../static/pp.jpg" alt="John" style="width:19%"></div>
<div class="justify-content-center">
  <h1 id="proname" >John Curtis</h1>
  <p  id="special">Fine Artist</p></div>
</div>

<div>
    <div id="prolinks">
       <div>
    <a href="/PORTFOLIO">Portfolio</a></div>
        <div>
    <a href="#">Tutorials</a></div>
        <div>

    </div>
</div>
</div>

<a href="#" class="notification">
  <span>Inbox</span>
  <span class="badge">3</span>
</a>


 <a href="#" class="notification-one">
  <span>Notifications</span>
  <span class="badge-one">3</span>
</a>

<div class="star">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
</div>



</body>



</html>